<form [formGroup]="form" (submit)="onSubmit()">

  <!-- Name -->
  <mat-form-field>
    <mat-label>Account name</mat-label>
    <input formControlName="name" matInput>
    @if (form.get('name')?.touched && form.get('name')?.invalid ) {
      <mat-error>This field cannot be empty</mat-error>
    }
  </mat-form-field>

  <!-- Code -->
  <mat-form-field>
    <mat-label>Account code</mat-label>
    <input formControlName="code" matInput>
    @if ( form.get('code')?.touched && form.get('code')?.invalid ){
      <mat-error>This field cannot be empty</mat-error>
    }
  </mat-form-field>

  <!-- Type -->
  <mat-form-field>
    <mat-label>Account type</mat-label>
    <mat-select formControlName="type">
      <mat-option value="ASSET">Assets</mat-option>
      <mat-option value="LIABILITY">Liabilities</mat-option>
      <mat-option value="EQUITY">Equity</mat-option>
      <mat-option value="INCOME">Income</mat-option>
      <mat-option value="EXPENSE">Expenses</mat-option>
    </mat-select>
    @if (form.get('type')?.invalid){
      <mat-error>This field cannot be empty</mat-error>
    }
  </mat-form-field>

  <!-- Deprecated -->
  @if (updateMode()){
    <div class="app-block">
      <mat-checkbox formControlName="deprecated">This account is deprecated</mat-checkbox>
    </div>
  }

  <div class="app-buttons-row">
    <button type="submit" [disabled]="form.invalid" matButton="filled">Save</button>
  </div>


</form>
