html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
  width: 100%;
}

.app-level-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.app-page-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.app-level-item {

}

.app-main-content {
  padding: 10px;
}

.app-block {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.app-button-row {}
